{% extends "base.html" %}
 
{% block title %}Home{% endblock %}
 
{% block body %}
    <div class="container-fluid mt-2 mb-2">
        <div class="col-20">
            <h1>Selamat Datang di Peduli Covid-19</h1>
        </div>
    </div>
    <div class="container-fluid mt-2 mb-2">
        <p>Untuk Menyumbang, klik tombol ini <a href="../public/sumbangan/index">Sumbang</a></p><br />
        <p>Untuk cek data sumbangan yang telah diinput, klik tombol ini <a href="../public/jenis">List Sumbangan</a></p>
    </div>

 
{% endblock %}
